<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 사용자 등록/수정 팝업 모달 -->
<div class="pop_common_wrap" th:fragment="userPopupModal">
	<form name="modifyForm" id="modifyForm">
        <div class="pop_common">
            <div class="pop_title">
                <span>사용자 수정</span>
                <span class="icon_close" th:onclick="javascript:jsClosePopup();"></span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>
                            권한
                        </th>
                        <th>
                        	직원명
                        </th>
                        <th>
                            ID (사번)
                        </th>
                        <th>
                            PW
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>
                                <select name="authCode" id="modifyAuthCode" >
                                    <option value="">
                                        선택
                                    </option>
                                    <option id="modifyOptionAdmin" value="A" >
                                        관리자
                                    </option>
                                    <option id="modifyOptionUser" value="U">
                                        사용자
                                    </option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <span>
                               <label for="">
                                    <input type="text" name="employeeName" id="modifyEmployeeName">
                                </label>
                            </span>
                        </td>
                        <td>
                            <span>
                               <label for="">
                                    <input type="text" name="employeeNumber" id="modifyEmployeeNumber" disabled >
                                </label>
                            </span>
                        </td>
                        <td>
                           <span>
                               <label for="">
                                    <input type="password" name="password" id="modifyPassword" placeholder="영문+특수문자+숫자, 8자리 이상">
                                </label>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="btn_sc">
                 <span class="btn_save" th:onclick="javascript:jsModifyUser();">
                     확인
                 </span>
                 <span class="btn_close" th:onclick="javascript:jsClosePopup();">
                     취소
                 </span>
             </div>
        </div>
	</form>
</div>
</html>