<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>비밀번호 변경</title>
<link href="/css/font.css" rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
<link href="/css/reset.css" rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
<link href="/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link href="/css/images.css" rel="stylesheet" type="text/css" th:href="@{/css/images.css}">
<script src="/js/jquery.min.js" type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>
<script src="/js/common/com.ajax.js" type="text/javascript" th:src="@{/js/common/com.ajax.js}"></script>
<script src="/js/common/com.util.js" type="text/javascript" th:src="@{/js/common/com.util.js}"></script>
</head>

<script th:inline="javascript" type="text/javascript">
$(document).ready(function() {
	
})

function jsPasswordChange() {
	
	var isValid = jsCheckValidation();
	
	if (isValid) {
		var employeeNumber = $("#username").val();
		var arrayData = $("#pwModifyForm").serializeArray();
		var data = convertToObject(arrayData);
		data = {"password" : $("#pwModifyForm input[name='password']").val()}
		// console.log(data);
		
		// TODO : 기존 비밀번호와 새 비밀번호가 다른지 체크하는 로직

		$("#pwConfirmError").attr("style", "display:none");
		jsAjaxCall("POST", "v1/api/admins/checkpw", JSON.stringify(data), callback, callback);
	}

}
function callback(response){
	console.log(response)
	var isConfirm = response.responseText
	if (isConfirm == "pwConfirmOk") {
		 jsAfterAjaxCall();
	} else {
		$("#pwConfirmError").attr("style", "display:block");
	}
}

function jsCheckValidation() {
	var newPassword = $("#pwModifyForm input[name='password']").val();
	var passwordConfirm = $("#pwModifyForm input[name='passwordConfirm']").val();
	
	$("#correspondError").attr("style", "display:none");
	$("#requiredError").attr("style", "display:none");
	$("#validError").attr("style", "display:none");
	
	if(nullCheck(newPassword) == "" || nullCheck(passwordConfirm) == "") {
		$("#requiredError").attr("style", "display:block");
		return false;
	}
	
	if (newPassword != passwordConfirm){
		$("#correspondError").attr("style", "display:block");
		return false;
	}
	
	var num = newPassword.search(/[0-9]/g);
	var eng = newPassword.search(/[a-z]/ig);
	var spe = newPassword.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
	
	if (newPassword.length < 8 || num < 0 || eng < 0 || spe < 0) {
		$("#validError").attr("style", "display:block");
		return false;
	}
	
	return true;
}

function jsAfterAjaxCall(){
	location.href = /*[[@{tran}]]*/ 'tran';
}

</script>

<body class="login_frame">
	<div class="wrap">
		<div class="login_wrap">
			<div class="top_logo_login com_top_logo">
				<div class="top_logo icon"></div>
				<span> 모바일 신분증 운영관리 시스템 </span>
			</div>
			<div style="margin-top: 1rem; font-size: 0.9rem;">
				<p>비밀번호 유효기간이 만료 되었습니다<br/>비밀번호를 변경해 주세요</p>
			</div>
			<form name="pwModifyForm" id="pwModifyForm" >
				<ul class="login_content">
					<ul>
						<li class="id_input">
							<input class="active_input" name="username", id="username" th:value="${#authentication.name}" disabled />
						</li>
						<li class="pw_input">
							<input class="active_input" type="password" name="password" id="newPassword" placeholder="새 비밀번호" autofocus />
						</li>
						<li class="pw_input">
							<input class="active_input" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="비밀번호 확인" autofocus />
						</li>
						<li class="red_txt" id="correspondError" style="display:none;">! 입력한 비밀번호가 서로 일치하지 않습니다</li>
						<li class="red_txt" id="requiredError" style="display:none;">! 비밀번호를 입력해주세요</li>
						<li class="red_txt" id="validError" style="display:none;">! 비밀번호는 영문(대소문자 구분) + 특수문자 + 숫자의<br/>8자리 이상 조합이어야 합니다</li>
						<li class="red_txt" id="pwConfirmError" style="display:none;">! 입력한 비밀번호가 기존 비밀번호와 같습니다</li>
						<li class="login_btn">
							<button class="" type="button" th:onclick="javascript:jsPasswordChange();">비밀번호 변경</button>
						</li>
					</ul>
				</ul>
			</form>
			<p class="login_info">※ 로그인 관련 문의 (IT금융개발부, 1234)</p>
		</div>
	</div>
	
</body>

</html>